.mediaCard {
	flex: 1 0 25%;
	display: flex;
	flex-direction: column;
	min-width: 20.9375rem;
	width: 20.9375rem;
	max-width: 20.9375rem;
	margin: 5px;
	@include desktop {
		width: 350px;
		min-width: 350px;
		max-width: 350px;
		margin-right: 3.25%;
		margin-left: 3.25%;
	}

	.imgContainer {
		height: 11.9375rem;
		width: 100%;

		overflow: hidden;
		border-radius: 5px;
		@include desktop {
			height: 18.75rem;
		}

		img {
			object-fit: cover;
			position: relative;
		}
		video {
			height: 100%;
			max-width: none;
		}
		.animalRainbow {
			bottom: 2.9375rem;
		}
		.travelLonesome {
			@include desktop {
				height: 100%;
			}
		}
	}
	.infoContainer {
		display: flex;
		justify-content: space-between;
		margin-top: 0.625rem;
		align-items: center;

		p {
			color: $primary1;
		}
		.imgTitle,
		.like {
			font-size: 0.875rem;
		}
		.imgTitle {
			white-space: nowrap;
			width: 85%;
			text-overflow: ellipsis;
			overflow: hidden;
			@include desktop {
				font-size: 1.5rem;
			}
		}
		.like {
			cursor: pointer;

			@include desktop {
				font-size: 1rem;
			}
		}

		.like::after {
			content: "\f004";
			font-family: "Font Awesome 5 Free";
			font-weight: bold;
			margin-left: 0.3125rem;
			font-size: 0.6875rem;
			@include desktop {
				font-size: 1.125rem;
			}
		}
	}
}
