.btContact {
	background-color: $primary1;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	&-mobile {
		width: 10.625rem;
		height: 2.1875rem;
		font-size: 1.125rem;
		position: fixed;
		bottom: 1.875rem;
		left: 50vw;
		transform: translateX(-50%);
		@include desktop {
			display: none;
		}
		&-modal {
			position: initial;
			margin: 1.25rem 50%;
		}
	}

	&-desktop {
		display: none;
		@include desktop {
			position: absolute;
			left: 36.5%;
			top: 3.9rem;
			width: 10.625rem;
			height: 4.3125rem;
			font-size: 1.25rem;
			display: block;
		}
		&-modal {
			left: 35px;
			top: 793px;
		}
	}
}
.goToContent {
	background-color: #db8876;
	color: black;
	font-weight: bold;
	border-radius: 5px;
	width: 11.375rem;
	height: 1.875rem;
	position: fixed;
	top: 0.375rem;
	left: 50vw;
	transform: translateX(-50%);
	z-index: 5;
	display: none;
	&[visible="true"] {
		display: block;
	}
}
