<article>
  <button class="linkContainer" onclick="document.location.href='photographer.html'">
    <div class="imgContainer">
      <img src="<%- imgLink %>" class="<%- className %>" alt="" cover />
    </div>

    <h2>
      <%- nom %>
    </h2>
  </button>

  <p class="location">
    <%- location %>
  </p>
  <p class="tagline">
    <%- tagline %>
  </p>
  <p class="price">
    <%- price %>
  </p>
  <nav>
    <%- include("../../../../components/filterLink/filterLink.html",{ nom: "Portrait" }); %>
      <%- include("../../../../components/filterLink/filterLink.html",{ nom: "Event" }); %>
        <%- include("../../../../components/filterLink/filterLink.html",{ nom: "Travel" }); %>
          <%- include("../../../../components/filterLink/filterLink.html",{ nom: "Animals" }); %>
  </nav>
</article>