.logo {
  align-items: center;
  display: flex;
  grid-area: logo;
  height: 109px;
  @include desktop {
    height: 137px;
    img {
      fill: none;
      height: 50px;
      width: 200px;
    }
  }
}
