.logo {
  display: flex;
  align-items: center;
  margin-left: 1.25rem;
  grid-area: logo;
  @include desktop {
    svg {
      width: 200px;
      height: 50px;
      fill: none;
    }
    margin-left: 6.25rem;
  }
}
