<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/index.css" />
    <script src="./js/index.js" defer type="module"></script>
</head>

<body>

    <%- include("../components/header/header.html", {className : "header" }); %>

        <main>
            <%- include("../components/photographerDescription/photographerDescription.html", {
                imgLink:"./img/Mimi/Portrait_Nora.jpg", photoClassName : "mimi" , nom : "Mimi Keel" ,
                location: "London,UK" , tagline: "Voir le beau dans le quotidien" , price: "400€/jour" });%>
                <%- include("../components/photographerDescription/photographerDescription.html", {
                    imgLink:"./img/Ellie/Architecture_Horseshoe.jpg", photoClassName : "ellie" , nom
                    : "Ellie-Rose Wilkens" , location: "Paris,France" , tagline: "Capturer des compositions complexes" ,
                    price: "250€/jour" }); %>
                    <%- include("../components/photographerDescription/photographerDescription.html", {
                        imgLink:"./img/Tracy/Fashion_Urban_Jungle.jpg", photoClassName : "tracy" , nom : "Tracy Galindo"
                        , location: "Montreal,Canada" , tagline: "Photographe freelance" , price: "500€/jour" }); %>
                        <%- include("../components/photographerDescription/photographerDescription.html", {
                            imgLink:"./img/Nabeel/Travel_Outdoor_Baths.jpg", photoClassName : "nabeel" , nom
                            : "Nabeel Bradford" , location: "Mexico City,Mexico" , tagline: "Toujours aller de l'avant"
                            , price: "350€/jour" }); %>
                            <%- include("../components/photographerDescription/photographerDescription.html", {
                                imgLink:"./img/Rhode/Fashion_Melody_Red_on_Stripes.jpg", photoClassName : "rhode" , nom
                                : "Rhode Dubois" , location: "Barcelona,Spain" , tagline: "Je crée des souvenirs" ,
                                price: "275€/jour" }); %>
                                <%- include("../components/photographerDescription/photographerDescription.html", {
                                    imgLink:"./img/Marcel/Travel_Tower.jpg", photoClassName : "marcel" , nom
                                    : "Marcel Nikolic" , location: "Berlin,Germany" ,
                                    tagline: "Toujours à la recherche de LA photo" , price: "300€/jour" }); %>
        </main>
</body>

</html>