nav {
  grid-area: nav;
  font-size: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  margin: 0 3rem 0 2.25rem;
  @include desktop {
    margin: 0;
    align-content: center;
  }
}
