.bground {
	display: none;
	justify-content: center;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(26, 39, 156, 0.4);
	z-index: 7;
	@include desktop {
		align-items: center;
	}
	/* Apparition de la modal */
	&[visible="true"] {
		display: flex;
	}
	.content {
		width: 100%;

		background: #db8876;
		border-radius: 5px;
		overflow: hidden;
		position: relative;
		color: #fff;
		padding-top: 4px;
		height: 100vh;
		@include desktop {
			height: 900px;
			max-width: 669px;
		}

		.form-modal {
			padding: 15px 5%;
			@include desktop {
				padding: 7px 5%;
			}

			h1 {
				font-size: 36px;
				color: black;
				margin-bottom: 26px;
				@include desktop {
					font-size: 64px;
					margin-bottom: 9px;
				}
			}
			label {
				font-size: 24px;
				font-weight: normal;
				display: inline-block;
				margin-bottom: 5px;
				color: #312e2e;
				margin-top: 14px;
				@include desktop {
					margin-top: 0px;
					font-size: 36px;
					margin-bottom: 2px;
				}
			}
			input {
				padding: 8px;
				border: 0.8px solid #ccc;
				outline: none;
			}
			.text-control {
				padding: 8px;
				width: 100%;
				border-radius: 5px;
				font-size: 20px;
				height: 53px;
				&:focus {
					border: 2px solid black;
				}
				@include desktop {
					margin-bottom: 14px;
					height: 67px;
					margin-bottom: 0;
				}
			}
			.formData[data-error]::after {
				content: attr(data-error);
				color: red;
				display: block;
				text-align: right;
				opacity: 0;
				position: absolute;
				right: 5%;
			}
			.formData[data-error-visible="true"]::after {
				opacity: 1;
			}
			.formData[data-error-visible="true"] .text-control {
				border: 2px solid red;
			}
			.formData[data-valid="true"] .text-control {
				border: 2px solid rgb(0, 255, 0);
			}
			.message {
				@include desktop {
					margin-top: 11px;
				}
			}
			.text-area {
				margin-top: 6px;
				padding: 18px 10px;
				border-radius: 5px;
				width: 100%;
				outline: none;
				@include desktop {
					height: 168px;
				}
			}
		}
		.validDiv {
			font-size: 2rem;
			text-align: center;
			position: relative;
			top: 40%;
			margin: 0 5%;
		}
	}
}
.close {
	position: absolute;
	right: 15px;
	top: 15px;
	width: 32px;
	height: 32px;
	opacity: 1;
	cursor: pointer;
	transform: scale(0.7);
	z-index: 5;
	@include desktop {
		height: 61px;
		width: 61px;
		right: 23px;
		top: 23px;
	}
	&::before,
	&::after {
		position: absolute;
		bottom: 0;
		content: " ";
		height: 33px;
		width: 3px;
		background-color: #fff;
		@include desktop {
			height: 68px;
			width: 8px;
			right: 30px;
			top: 0;
			left: auto;
		}
	}
	&::before {
		transform: rotate(45deg);
	}
	&::after {
		transform: rotate(-45deg);
	}
}
// #validDiv {
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	background: #db8876;
// 	color: white;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	height: 100%;
// 	width: 100%;
// 	padding: 1rem;
// 	text-align: center;
// 	p {
// 		font-size: 1.5rem;
// 		@include desktop {
// 			font-size: 2rem;
// 		}
// 	}
// }
