<div class="bground">
  <div class="content">

    <span class="close"></span>
    <div class="modal-body">
      <h1>Contactez-moi <br>
        Mimi Keel</h1>
      <form name="reserve" action="index.html" method="get">
        <div class="formData">
          <label for="first">Prénom</label><br />
          <input class="text-control" type="text" id="first" name="first" /><br />
        </div>
        <div class="formData">
          <label for="last">Nom</label><br />
          <input class="text-control" type="text" id="last" name="last" /><br />
        </div>
        <div class="formData">
          <label for="email">E-mail</label><br />
          <input class="text-control" type="email" id="email" name="email" /><br />
        </div>
        <%- include("../btContact/btContact.html", { className: "btContact btContact-mobile btContact-mobile-modal" ,
          text: "Envoyer" }); %>
          <!-- <input class="btn-submit" type="submit" class="button" value="C'est parti" /> -->
      </form>
    </div>
  </div>
</div>