<div class="bground">
  <div class="content">

    <button class="close" type="button"></button>
    <div class="form-modal">
      <h1>Contactez-moi <br>
        <%- name %>
      </h1>
      <form name="reserve" action="index.html" method="get">
        <div class="formData">
          <label for="first">Prénom</label><br />
          <input class="text-control" type="text" id="first" name="first" /><br />
        </div>
        <div class="formData">
          <label for="last">Nom</label><br />
          <input class="text-control" type="text" id="last" name="last" /><br />
        </div>
        <div class="formData">
          <label for="email">Email</label><br />
          <input class="text-control" type="email" id="email" name="email" /><br />
        </div>
        <div class="formData">
          <label for="message" class="message">Votre message</label>
          <textarea class="text-area text-control" id="message" name="message" rows="10" cols="38"></textarea>
        </div>
        <%- include("../btContact/btContact.html", { className: "btContact btContact-mobile btContact-mobile-modal" ,
          type: "submit" , text: "Envoyer" }); %>
          <%- include("../btContact/btContact.html", { className: "btContact btContact-desktop btContact-desktop-modal"
            ,type: "submit" , text: "Envoyer" }); %>
      </form>
    </div>
  </div>
</div>