.bground {
	// display: none;
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(26, 39, 156, 0.4);
	z-index: 7;
	/* Apparition de la modal */
	&[visible="true"] {
		display: block;
	}
	.content {
		width: 100%;
		max-width: 536px;
		animation-name: modalopen;
		animation-duration: var(--modal-duration);
		background: #db8876;
		border-radius: 10px;
		overflow: hidden;
		position: relative;
		color: #fff;
		padding-top: 10px;
		.close {
			position: absolute;
			right: 15px;
			top: 15px;
			width: 32px;
			height: 32px;
			opacity: 1;
			cursor: pointer;
			transform: scale(0.7);
			z-index: 5;
			&::before,
			&::after {
				position: absolute;
				left: 15px;
				content: " ";
				height: 33px;
				width: 3px;
				background-color: #fff;
			}
			&::before {
				transform: rotate(45deg);
			}
			&::after {
				transform: rotate(-45deg);
			}
		}
		.modal-body {
			padding: 15px 8%;
			margin: 15px auto;
			label {
				font-size: 17px;
				font-weight: normal;
				display: inline-block;
				margin-bottom: 11px;
			}
			input {
				padding: 8px;
				border: 0.8px solid #ccc;
				outline: none;
			}
			.text-control {
				margin: 0;
				padding: 8px;
				width: 100%;
				border-radius: 8px;
				font-size: 20px;
				height: 48px;
			}
			.formData[data-error]::after {
				content: attr(data-error);
				font-size: 0.4em;
				color: #e54858;
				display: block;
				margin-top: 7px;
				margin-bottom: 7px;
				text-align: right;
				line-height: 0.3;
				opacity: 0;
				transition: 0.3s;
			}
			.formData[data-error-visible="true"]::after {
				opacity: 1;
			}

			.formData[data-error-visible="true"] .text-control {
				border: 2px solid #e54858;
			}
			.btn-submit {
				background: #fe142f;
				display: block;
				margin: 0 auto;
				border-radius: 7px;
				font-size: 1rem;
				padding: 12px 82px;
				color: #fff;
				cursor: pointer;
				border: 0;
			}
		}
	}
}
