<header class="<%- className %>">
  <button class="logo" title="logo" onclick="document.location.href='index.html'">
    <img src=" ./img/logo/logo.svg" alt="logo">
  </button>
  <button href="#" class="photographersLink">Nos photographes</button>
  <nav class="indexNav">
    <button href="#" class="filterLink">#Art</button>
    <button href="#" class="filterLink">#Fashion</button>
    <button href="#" class="filterLink">#Architecture</button>
    <button href="#" class="filterLink">#Travel</button>
    <button href="#" class="filterLink">#Sport</button>
    <button href="#" class="filterLink">#Animals</button>
    <button href="#" class="filterLink">#Events</button>
    <button href="#" class="filterLink">#Portrait</button>
  </nav>
</header>