<header class="<%- className %>">
  <button class="logo" title="logo" alt="Fisheye Home Page">
    <img src=" ./img/logo/logo.svg" alt="logo">
  </button>
  <h1 class="lobbyH1">Nos photographes</h1>
  <nav>
    <button href="#" class="tags tags-link">#Art</button>
    <button href="#" class="tags tags-link">#Fashion</button>
    <button href="#" class="tags tags-link">#Architecture</button>
    <button href="#" class="tags tags-link">#Travel</button>
    <button href="#" class="tags tags-link">#Sport</button>
    <button href="#" class="tags tags-link">#Animals</button>
    <button href="#" class="tags tags-link">#Events</button>
    <button href="#" class="tags tags-link">#Portrait</button>
  </nav>
</header>