<article class="photographerArticle">
  <div class="imgNameContainer">
    <div class="imgContainer">
      <img src="<%- imgLink %>" class="<%- className %>" alt="" cover />
    </div>

    <h2>
      <%- nom %>
    </h2>
  </div>
  <%- include("../../../../components/btContact/btContact.html", { className:"btContact btContact-desktop"}) %>
    <p class="location">
      <%- location %>
    </p>
    <p class="tagline">
      <%- tagline %>
    </p>
    <p class="price">
      <%- price %>
    </p>
    <nav class="photographerNav">
      <%- include("../../../../components/filterLink/filterLink.html",{ nom: "portrait" }); %>
        <%- include("../../../../components/filterLink/filterLink.html",{ nom: "events" }); %>
          <%- include("../../../../components/filterLink/filterLink.html",{ nom: "travel" }); %>
            <%- include("../../../../components/filterLink/filterLink.html",{ nom: "animals" }); %>
    </nav>
</article>