.photographer-card-big {
	margin: auto;
	position: relative;
	max-width: 90%;
	min-width: 1px;
	align-items: flex-start;
	margin-bottom: 2.5rem;
	@include desktop {
		background-color: #fafafa; //
		height: 19.5625rem;
		margin: 1.625rem 6.9% 5.9375rem 6.9%;
	}
	&-imgContainer {
		height: 6.25rem;
		width: 6.25rem;
		position: absolute;
		top: -0.75rem;
		right: 0;
		@include desktop {
			height: 12.5rem;
			width: 12.5rem;
			top: 3.4375rem;
			right: 4%;
		}
	}
	h2,
	.location,
	.tagline,
	nav {
		position: relative;
		@include desktop {
			left: 4.26%;
			width: 36%;
		}
	}
	h2 {
		color: $primary2;
		font-size: 2.25rem;
		// white-space: nowrap;
		bottom: 4px;
		width: 69%;
		@include desktop {
			font-size: 4rem;
			top: 3.1875rem;
		}
	}
	.location {
		color: $primary1;
		bottom: 0.5rem;
		@include desktop {
			font-size: 1.5rem;
			top: 3.75rem;
		}
	}
	.tagline {
		font-size: 0.8125rem;
		color: $tersiary1;
		bottom: 0.375rem;
		@include desktop {
			font-size: 1.125rem;
			top: 5.0625rem;
		}
	}
	nav {
		@include desktop {
			top: 6.375rem;
		}
	}
}
