body {
  margin: 40px 20px 0 20px;
  header {
    .logo {
      margin-bottom: 30px;
      margin-left: 0;
    }
    article {
      min-width: 100%;
      align-items: unset;
      margin-bottom: 0;
      height: 154px;
      .linkContainer {
        position: relative;
        bottom: 10px;
        flex-direction: row-reverse;
        align-items: flex-start;
        width: 100%;
        justify-content: space-between;
        margin: 0;
        .imgContainer {
          width: 6.25rem;
          height: 6.25rem;
          .mimi {
            top: 8px;
            width: 170px;
          }
        }
        h2 {
          font-size: 2.6rem;
          position: relative;
          top: 10px;
        }
      }
      .location,
      .tagline,
      nav {
        position: relative;
        bottom: 75px;
        margin-bottom: 4px;
        font-size: 13px;
      }
      .tagline {
        color: #757575;
        margin-bottom: 7px;
      }
      .price {
        display: none;
      }
    }
  }
  .photographerMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    section {
      display: flex;
      flex-direction: column;

      width: 335px;
      .imgContainer {
        height: 191px;
        width: 100%;
        overflow: hidden;
        border-radius: 5px;
        img {
          position: relative;
        }
        .animalRainbow {
          bottom: 47px;
        }
      }
      .infoContainer {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        align-items: center;
        p {
          color: $primary1;
        }
        .imgTitle,
        .like {
          font-size: 14px;
        }
        .price {
          font-size: 12px;
          position: relative;
          left: 89px;
        }
        .like::after {
          content: "\f004";
          font-family: "Font Awesome 5 Free";
          font-weight: bold;
          margin-left: 5px;
          font-size: 11px;
        }
      }
    }
  }
}
