body {
  margin: 40px 20px;
  header {
    .logo {
      margin-bottom: 30px;
      margin-left: 0;
    }
    article {
      min-width: 100%;
      align-items: unset;
      .linkContainer {
        position: relative;
        bottom: 10px;
        flex-direction: row-reverse;
        align-items: flex-start;
        width: 100%;
        justify-content: space-between;
        margin: 0;
        .imgContainer {
          width: 6.25rem;
          height: 6.25rem;
          .mimi {
            top: 8px;
            width: 170px;
          }
        }
        h2 {
          font-size: 2.6rem;
          position: relative;
          top: 10px;
        }
      }
      .location,
      .tagline,
      nav {
        position: relative;
        bottom: 75px;
        margin-bottom: 4px;
        font-size: 13px;
      }
      .tagline {
        color: #757575;
        margin-bottom: 7px;
      }
      .price {
        display: none;
      }
    }
  }
}
