<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fisheye - photographe</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css" />
    <link rel="stylesheet" href="css/photographer.css" type="text/css">

</head>

<body>
    <header>
        <%- include("../../components/logo/logo.html") %>
            <%- include("../../layouts/article/article.html", { imgLink:"./img/Mimi/Portrait_Nora.jpg", className
                : "mimi" , nom : "Mimi Keel" , location: "London,UK" , tagline: "Voir le beau dans le quotidien" ,
                price: "400€/jour" }); %>
    </header>

</body>

</html>