<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fisheye - photographe</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css" />
    <link rel="stylesheet" href="css/photographer.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
</head>

<body>
    <header>
        <%- include("../../components/logo/logo.html") %>
            <%- include("./layouts/photographerArticle/photographerArticle.html", {
                imgLink:"./img/Mimi/Portrait_Nora.jpg", className : "mimi" , nom : "Mimi Keel" , location: "London,UK" ,
                tagline: "Voir le beau dans le quotidien" , price: "400€/jour" }); %>
    </header>
    <main class="photographerMain">
        <%- include("./layouts/photographerSection/photographerSection.html", { className: "animalRainbow" ,
            imgLink:"./img/Mimi/Animals_Rainbow.jpg" , imgTitle:"Arc-en-ciel", price:"70€" , like: "12" }) %>
            <%- include("./layouts/photographerSection/photographerSection.html", { className: "travelLonesome"
                ,imgLink:"./img/Mimi/Travel_Lonesome.jpg" ,imgTitle:"Solitude", price:"70€" , like: "12" }) %>
    </main>
    <%- include("../../components/btContactMobile/btContactMobile.html") %>


</body>

</html>