header {
  margin: 0 20px;
  padding-top: 3px;
  @include desktop {
    margin: 0 100px;
  }
}
.photographerMain {
  display: flex;

  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
