header {
  display: grid;
  grid-template-rows: 6.8125rem 3.125rem;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "logo p"
    "nav nav";
  margin-bottom: 2.8125rem;
  @include desktop {
    grid-template-rows: 8.25rem;
    grid-template-columns: auto;
    grid-template-areas: "logo nav p";
  }
  a {
    color: $primary1;
  }
  .photographerLink {
    grid-area: p;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1.38rem;
    font-size: 0.875rem;
    @include desktop {
      margin-right: 7.3rem;
      font-size: 2.25rem;
    }
  }
}
