@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
html {
  display: flex;
  justify-content: center;
  body {
    font-family: DM Sans, sans-serif;
    max-width: 1440px;
    button {
      background-color: transparent;
      border: 0;
      color: #901c1c;
      cursor: pointer;
    }
  }
}

// Variables
$primary1: #901c1c;
$primary2: #d3573c;
$secondary1: #d3573c;
$secondary2: #525252;
$secondary3: #901c1c;
$desktopMinWidth: 992px;
//mixin
@mixin desktop {
  @media screen and (min-width: $desktopMinWidth) {
    @content;
  }
}
